@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-blue-400 to-purple-600 bg-clip-text text-transparent;
  }
}
